#logo{
    background-image: url('../content/logo.png');
    background-repeat: no-repeat;
    width: 111px;
    height: 64px;
}

#menuCollapsed ul li a{
    width: 100px;
}

#menuCollapsed ul li a:hover{
    color: #6f42f5;
}

@media screen and (min-width: 992px){
    #menuCollapsed ul li a{text-align: center;}
}